/* alegemeen layout fonts etc */

@font-face {
    font-family: 'tafont';
    src: url('/attributes/fonts/emulogic-webfont.woff') format('woff'),
         url('/attributes/fonts/emulogic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

/* end algemeen layout */


/* header */ 
header{
}

.scoial-icons{
    text-align: center;
}

.logo{
    height: 120px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* start menu */
.menu{
    background-color: black;
    background-image: url(/attributes/img/monstersbackground.png);
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #fff;
    display: flex;
    flex-direction: row;
    height: 100px;
}

.logosvg{
    padding-top: 10px;
    height: 120px;
    -webkit-transition: all 1s; /* Safari */
    transition: all 1s;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
transform: rotate(1deg);
}

.logosvg:hover{
    height: 122px;
    -webkit-box-shadow: -5px 10px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: -5px 10px 10px 0px rgba(0,0,0,0.25);
    box-shadow: -5px 10px 10px 0px rgba(0,0,0,0.25);
    transform: rotate(2deg);
}

ul {
    list-style-type: none;
    height: 40px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #be4819;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    -webkit-transition: all 1s; /* Safari */
    transition: all 1s;
    margin-left: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #f1902c;
    background-image: url(/attributes/img/bg_menu.png);
    font-family: 'tafont';
    font-size: 10px;
  }
  
  li a:hover:not(.active) {
    color: #fff;
    padding: 16px 18px;
  }
  
  .active {
    background-color: #4CAF50;
  }

  .menulinks{
      margin-top: 20px;
      margin-right: 20px;
  }

  .icon-img{
    height: 20px;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    -webkit-transition: all 1s; /* Safari */
    transition: all 1s;   
  }

  .icon-img:hover{
    height: 24px;
    -webkit-box-shadow: 1px 10px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 10px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 10px 16px 0px rgba(0,0,0,0.75);
  }

  .scoial-icons{
      padding-top: 30px;
      padding-right: 20px;
      height: 200px;
      display: flex;
  }
  .icon-row{
      display: flex;
      flex-direction: column;
      padding-left: 5px;
  }


/* end header  */ 

/* layout banner */

.banner{
    height: 500px;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #fff;
    background-color: #c45d15;
}




/* end layout banner /*
/* start layout main content */

.main-content{
    background-color: black;
    background-image: url(/attributes/img/monstersbackground.png);
    height: 450px;

}


.intoduction{

}

.playbutton{
    width:50px;
    height:50px;
    border:0;
    text-indent:-999px;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    -webkit-transition: all 1s; /* Safari */
    transition: all 1s; 
}

.playbutton:hover{
    height: 55px;
    height: 55px;
    -webkit-box-shadow: 1px 10px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 10px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 10px 16px 0px rgba(0,0,0,0.75);
  }

.soundbutton{
    width:50px;
    height:50px;
    border:0;
    text-indent:-999px;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s; 
}

.soundbutton:hover{
    height: 55px;
    height: 55px;
    -webkit-box-shadow: 1px 10px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 10px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 10px 16px 0px rgba(0,0,0,0.75);
  }


.video-buttons{
    position: relative;
    top: -30px;
    padding-left: 100px;
}

.pause{
    background:url(/attributes/img/icons/pausebutton.png) no-repeat center;
}
.play{
    background:url(/attributes/img/icons/playbutton.png) no-repeat center;
}

.mute{
    background:url(/attributes/img/icons/mute-icon.png) no-repeat center;
}
.unmute{
    background:url(/attributes/img/icons/unmute-icon.png) no-repeat center;
}
.buttonhover{
    
}

